{% extends 'layouts/page.html' %}

{% block content %}
<div class="page register-page">
    <div class="header">
    <h1 class="title">Bem-Vindo!</h1>
    </div>
    <h3 class="subtitle">Por favor, informe seus dados abaixo:</h3>
    
    
    <form method="POST" action="" class="register-form"> {% csrf_token %}
        <div class="fieldWrapper">
            <label for="{{form.idade.id_for_label}}">Informe sua idade:</label>
                {{form.idade}}
            <span class="error">{{form.idade.errors}}</span>
        </div>

        <div class="fieldWrapper">
            <label for="{{form.genero.id_for_label}}">Sexo:</label>
                {{form.genero}}
            <span class="error">{{form.genero.errors}}</span>
        </div>

        <div class="fieldWrapper">
            <label for="{{form.grau_instrucao.id_for_label}}">Grau de Instrução:</label>
                {{form.grau_instrucao}}
            <span class="error">{{form.grau_instrucao.errors}}</span>
        </div>

        <div class="fieldWrapper">
            <label for="{{form.profissao.id_for_label}}">Profissão:</label>
                {{form.profissao}}
            <span class="error">{{form.profissao.errors}}</span>
        </div>

        {% if form.non_field_errors %}
            <div class="non_form_errors">
                <span class="error">
                    {{form.non_field_errors.as_ul}}
                </span>
            </div>
        {% endif %} 
        <input type="submit" value="Próximo" class="submit-button"/>
    </form>
</div> 

{% endblock %}