{% extends 'layouts/page.html' %}


{% block content %}


<div class="page register-page">
    <div class="header">
        <h1 class="title">Motivo Alteração</h1>
    </div>

    <h3 class="subtitle">As seguintes operações foram recomendadas através de Inteligência Artificial, porém, não foram seguidas.
        Por favor, informe o motivo para cada uma das operações.
    </h3>

    <form method="POST" action="" class="register-form"> {% csrf_token %}
        <div class="question-list-item">
            {{ form.as_p }}
        </div>
        <input type="submit" value="Próximo" class="submit-button"/>
    </form>
</div>


{% endblock %}