{% extends 'layouts/page.html' %}

{% block content %}
<div class="page register-page">
    <div class="header">
        <h1 class="title">Identificação do seu Perfil</h1>
    </div>
    <h3 class="subtitle">Com base nas respostas anteriores, o perfil indicado para você é:</h3>

    <div class="profile">
            <u>{{ perf }}</u>
    </div>
    
    {% if cart.tipo_grupo == 0 %}
        <h3 class="grupo-cart">
            Você foi selecionado para o grupo de <b>recomendações da inteligência artificial.</b></br>
            Portanto, as Ações recomendadas para você são: 
        </h3>
    {% else %}
        <h3 class="grupo-cart">
            Você está no grupo de criação <b>manual</b> de carteira e <b><u>não</u></b> receberá recomendações da inteligência artificial.</br>
            Por favor, selecione abaixo quais dessas ações você gostaria de ter na sua carteira: 
        </h3>
    {% endif %} 

    <form method="POST" action="" class="register-form"> {% csrf_token %}
        
        <div class="acao-item">
            
            <table>
                <tr>
                    <td class="td-title">Adicionar</td>
                    <td class="td-title-name-max">Ação</td>
                </tr>
            {% for field in form %}
                <tr>
                    <td class="td-number">{{ field }} </td> 
                    <td class="td-info">{{ field.label}}</td> 
                </tr>
            {% endfor %}
            </table>

        </div>
        
        <div class="question-list-error">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                       {{ error|escape }}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
        
        <input type="submit" value="Próximo" class="submit-button"/>
    </form>
</div>


{% endblock %}