{% extends 'layouts/page.html' %}

{% block content %}
<div class="page register-page">
    <div class="header">
        <h1 class="title">Simulação</h1>
    </div>
    <h3 class="subtitle">Vamos analisar agora sua carteira de ações com base em {{ qtde }} simulações.</h3>
    <h4 class="subtitleSimulation">Simulação <u>{{ atual }} de {{ qtde }}</u> - {{ simulacao.descricao }}</h4>
    <h4 class="subtitleSimulation">Período da simulação: {{ simulacao.data_ini }} até {{ simulacao.data_fim }}</h4>

    <form method="POST" action="" class="register-form"> {% csrf_token %}
        <div class="question-list-item">

            {{ simulacao }}

            

        </div>
    
    <input type="submit" value="Próximo" class="submit-button"/>
</form>
   
</div>


{% endblock %}