{% extends 'layouts/page.html' %}

{% block content %}
<div class="page register-page">
    <div class="header">
        <h1 class="title">Simulação</h1>
    </div>
    <h3 class="subtitle">Vamos analisar agora sua carteira de ações com base em {{ qtde }} simulações.</h3>
    <h4 class="subtitleSimulation">Simulação <u>{{ atual }} de {{ qtde }}</u> - {{ simulacao.descricao }}</h4>
    <h4 class="subtitleSimulation">Período da Simulação: {{ simulacao.data_ini|date:"d/m/Y"}} até {{ simulacao.data_fim|date:"d/m/Y" }}</h4>

    <hr>

    <form method="POST" action="" class="register-form"> {% csrf_token %}
        
        <div class="titleSimulation"> Sua Carteira: </div>
        <div class="acao-item">
            
            <table >
                <tr>
                    <td></td>
                    <td class="td-title-name">Ação</td>
                    <td class="td-title">Preço Anterior</td>
                    <td class="td-title">Preço Atual</td>
                    <td class="td-title">%</td>
                </tr>
            {% for fieldInfo in lista %}
                <tr>
                {% if fieldInfo.field.value %}
                <td>{{ fieldInfo.field }} </td> 
                <td> {{ fieldInfo.field.label}}  </td> 
                <td class="td-number"> R$ {{ fieldInfo.valorAntigo }}</td>
                <td class="td-number"> R$ {{ fieldInfo.valorAtual }}</td>
                    {% if fieldInfo.percent < 0%}
                        <td class="NegativeTransaction">{{ fieldInfo.percent|floatformat:2 }} %</td>
                    {% else %}
                        <td class="PositiveTransaction">{{ fieldInfo.percent|floatformat:2 }} %</td>
                    {% endif %}
                {% endif %}
                </tr>
            {% endfor %}
            </table>

        </div>

        </br>

        <div class="titleSimulation"> Outras Ações: </div>
        <div class="acao-item">
            
            <table>
                <tr>
                    <td></td>
                    <td class="td-title-name">Ação</td>
                    <td class="td-title">Preço Anterior</td>
                    <td class="td-title">Preço Atual</td>
                    <td class="td-title">%</td>
                </tr>
            {% for fieldInfo in lista %}
                <tr>
                {% if fieldInfo.field.value == False %}
                <td>{{ fieldInfo.field }} </td> 
                <td> {{ fieldInfo.field.label}}  </td> 
                <td class="td-number"> R$ {{ fieldInfo.valorAntigo }}</td>
                <td class="td-number"> R$ {{ fieldInfo.valorAtual }}</td>
                    {% if fieldInfo.percent < 0%}
                        <td class="NegativeTransaction">{{ fieldInfo.percent|floatformat:2 }} %</td>
                    {% else %}
                        <td class="PositiveTransaction">{{ fieldInfo.percent|floatformat:2 }} %</td>
                    {% endif %}
                {% endif %}
                </tr>
            {% endfor %}
            </table>

        </div>

        <div class="question-list-error">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                       {{ error|escape }}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    
    <input type="submit" value="Próximo" class="submit-button"/>
</form>
   
</div>


{% endblock %}